Django
djangorestframework
django-filter
channels
channels-redis
daphne
django-extensions
django-redis
Pillow
pytest
pytest-django
six
redis
asgiref
python-dateutil
pytz
djangorestframework-simplejwt
openpyxl==3.1.2