
{% load notify_tags %}

{% if notifications %}
    {% for notification in notifications %}
    <a href="{{ notification|notification_target_url }}" class="dropdown-item d-flex {% if not notification.is_read %}bg-light{% endif %}">
        <div class="me-2">
            {{ notification.notification_type|notification_icon }}
        </div>
        <div>
            <div class="small fw-bold">{{ notification.title }}</div>
            <div class="small text-muted">{{ notification.message|truncatechars:70 }}</div>
            <div class="small text-muted">{{ notification.created_at|timesince }} ago</div>
        </div>
    </a>
    {% endfor %}
{% else %}
    <p class="dropdown-item text-muted small">No notifications</p>
{% endif %}
